* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#click {
  display: none;
}

header {
  background-color: #3B5D50;
  width: 100%;
  font-family: "Inter", sans-serif;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  top: 0px;
  left: 0px;
  height: 70px;
  align-items: center;
  color: #ffffff;
  padding-right: 5%;
  padding-left: 4%;
  background-color: #3B5D50;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
header nav ul li h1 {
  color: white;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
header label {
  color: white;
  font-size: 30px;
  display: none;
}

.cart {
  padding-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 10%;
  gap: 10%;
}
.cart img {
  width: 60%;
}

/* -- footer -- */
footer {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #ffffff;
}
footer .sub-new h3 {
  font-size: 25px;
}
footer .sub-new input {
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #6A6A6A;
  margin: 5px;
  background-color: #ffffff;
}
footer .sub-new #icon {
  padding: 15px 30px;
  color: #ffffff;
  background-color: #3B5D50;
  border-radius: 10px;
  margin: 5px;
}
footer .foot-main {
  display: flex;
}
footer .foot-main .f-detail {
  padding-top: 10%;
  color: #3B5D50;
  width: 65%;
}
footer .foot-main .f-detail p {
  padding-top: 7%;
  line-height: 2;
}
footer .foot-main .f-detail .icons {
  padding-top: 5%;
  font-size: 15px;
}
footer .foot-main .f-detail .icons #face {
  background-color: #eff3ef;
  border-radius: 50%;
  width: 5%;
  height: 12px;
  padding: 4px;
}
footer .foot-main .f-detail .icons #twitter {
  background-color: #eff3ef;
  border-radius: 50%;
  padding: 3px;
}
footer .foot-main .f-detail .icons #insta {
  background-color: #eff3ef;
  border-radius: 50%;
  padding: 4px;
  width: 5%;
}
footer .foot-main .f-detail .icons #lin {
  background-color: #eff3ef;
  border-radius: 50%;
  padding: 4px;
  width: 6%;
}
footer .foot-main .f-title {
  display: flex;
  padding-top: 15%;
  padding-left: 10%;
  width: 100%;
  line-height: 2.2;
  color: #2F2F2F;
}
footer .foot-main .f-title .foot-container {
  width: 50%;
}
footer .foot-main .f-title .foot-container ul li {
  list-style: none;
}
footer .foot-end {
  display: flex;
}
footer .foot-end .c-right {
  width: 50%;
}
footer .foot-end .c-right p {
  color: #3B5D50;
}
footer .foot-end .c-right span {
  color: #2F2F2F;
}
footer .foot-end .condition {
  width: 80%;
}
footer .foot-end .condition ul {
  display: flex;
  justify-content: end;
  gap: 5%;
}
footer .foot-end .condition ul li {
  list-style: none;
}
footer .foot-end .condition ul li a {
  text-decoration: none;
  color: #2F2F2F;
}

@media screen and (max-width: 768px) {
  header label {
    display: block;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    flex-direction: column;
    position: absolute;
    top: 75px;
    left: 0px;
    display: none;
    width: 100%;
    background-color: #3B5D50;
    line-height: 2;
  }
  #click:checked ~ header nav ul {
    display: block;
  }
  .cart {
    padding-top: 20%;
  }
  .cart img {
    width: 100%;
  }
  /* -- footer -- */
  footer {
    width: 100%;
    height: auto;
  }
  footer .foot-main {
    display: grid;
    width: 600px;
    font-size: 20px;
  }
  footer .f-title {
    width: 10%;
  }
}
@media screen and (max-width: 426px) {
  .cart {
    padding-top: 30%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .cart img {
    width: 50%;
  }
  footer {
    padding-top: 50%;
  }
  footer .foot-main .f-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 80%;
  }
}/*# sourceMappingURL=cart.css.map */