@import "mixin";
@import "variable";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
#click{
    display: none;
}
header{
    @include commanhead();
    
    nav {
    @include nav();
    padding-right: 5%;
    padding-left: 4%;
    background-color: #3B5D50
    }
    nav ul{
             @include flex();
   
    }
    nav ul li h1{
        color:$SecondaryColor;
    }
    nav ul li a{
        color: $SecondaryColor;
        text-decoration: none;
        // padding-left: 100px;
        margin-left: 20px;
    }
label{
    color: white;
    font-size: 30px;
    display: none;
}

.head {
    display: flex;
}
    .head .text{
    padding-top: 10%;
    padding-left: 10%;
}
    .head .text h1{
        color: $SecondaryColor;
        font-size: 50px;
    }
    .head .text p{
        padding-top: 5%;
        color: #FFFFFF80;
        font-size: 17px;
        line-height: 28px;  
    }
    .head .text button{
        padding: 12px 25px;
        font-size: 100%;
        border-radius: 30px;
        border: 2px solid #FFFFFF80;
        background-color: $primaryColor;
        color: $SecondaryColor;
        margin: 5% 1%;  
    }
}
header img{
    width: 100%;
}
/* -- contact information -- */

.contact{
        padding-top: 10%;
        padding-left: 20%;
        padding-right: 20%;

    .addr{
        display: flex;
        
        #icon{
            @include icon();
            
        }
        .map{
            display: flex;
            width: 40%;
        }
        .email{
            display: flex;
            width: 40%;
            padding-left: 5%;
        }
        .phone{
            display: flex;
            width: 50%;
        }
        p{
            display: flex;
            align-items: center;
            // gap: 5%;
            padding-left: 3%;
        }
    }

   
    .name{
        padding-top: 10%;
        display: flex;
        gap: 18%;
        line-height: 2;
        
        #fname{
            padding-left: 80%;
            padding-top: 10%;
            border-radius: 10px;
            border: 1px solid #6A6A6A;
        }
        #lname{
            padding-left: 80%;
            padding-top: 10%;
            border-radius: 10px;
            border: 1px solid #6A6A6A;
        }
    }
    .email{
        // padding-top: 3%;
        line-height: 2;
    
#email{
    
    padding-left: 52%;
    padding-top: 2%;
    border-radius: 10px;
    border: 1px solid #6A6A6A;
    }    
   }
.msg{
    padding-top: 3%;
    line-height: 2;
    #msg{
            padding-left: 52%;
            padding-top: 15%;
            border-radius: 10px;
            border: 1px solid #6A6A6A;
    }
}
button{
    margin-top: 3%;
    background-color: #2f2f2f;
    color: #fff;
    border-radius: 20px;
    border: 1px;
    height: 45px;
    width: 150px;
    font-size: 15px;
}
}
/* -- footer -- */ 

footer{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #ffffff;

     .sub-new{
         h3{
             font-size: 25px;
         }
         input{
             padding: 15px 25px;
             border-radius: 10px;
             border: 1px solid #6A6A6A;
             margin: 5px;
             background-color: #ffffff;
         }
         #icon{
                 padding: 15px 30px;
                 color: #ffffff;
                 background-color: #3B5D50;
                 border-radius: 10px;
                 margin: 5px;
         }
     }

.foot-main{
 display: flex;

     .f-detail{
 padding-top: 10%;
 color: #3B5D50;
 width: 65%;
 p{
     padding-top: 7%;
     line-height: 2;
 }
 .icons{
     padding-top: 5%;
     // background-color: #eff3ef;
     font-size: 15px;
     #face{
         background-color: #eff3ef;
         border-radius: 50%;
         width: 5%;
         height: 12px;
         padding: 4px; 
     }
     #twitter{
         background-color: #eff3ef;
         border-radius: 50%;
         padding: 3px; 
     }
     #insta{
         background-color: #eff3ef;
         border-radius: 50%;
         padding: 4px; 
         width: 5%;
     }
     #lin{
         background-color: #eff3ef;
         border-radius: 50%;
         padding: 4px; 
         width: 6%;
     }
 }

} 
.f-title{
 display: flex;
 padding-top: 15%;
 padding-left: 10%;
 width: 100%;
 line-height: 2.2;
 color: #2F2F2F;
 
 .foot-container{
     width: 50%;
     ul li{
         list-style: none;
     }
 }
} 
 
}
.foot-end{
 display: flex;
 .c-right{
     width: 50%;
 p{
     color: #3B5D50;
 }
 span{
     color: #2F2F2F;
 }
}
.condition{
 width: 80%;
 ul{
 display: flex;
 justify-content: end;
 gap: 5%;

 li{
     list-style: none;

     a{
         text-decoration: none;
         color: #2F2F2F;
     }
 }

 }
 
}
}
}


@media screen and (max-width: 768px) {
    header {
        label{
            display: block;
        }
        nav{
            width: 100%;
        }
        nav ul{
            flex-direction: column;
            position: absolute;
            top: 75px;
            left: 0px;
            display: none;
            width: 100%;
        background-color: #3B5D50;
        line-height: 2;
        }
        .head{
            display: grid;
            grid-template-columns: 1fr;
            
        }
    }
    #click:checked ~  header{
        nav ul{
            display: block;
        }
    }
.contact{
    .addr{
        display: grid;
        grid-template-columns: 1fr 1fr;

        .map{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 80%;
        }
        .email{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 30px;
        }
        .phone{
            width: 80%;
        }
    }
    form{
        .name{
            display: grid;
            gap: 0px;
            #fname{
                // height: 0px;
                // width: 50px;
                padding-top: 6%;
                padding-left: 40%;
            }
            #lname{
                padding-top: 6%;
                padding-left: 40%;
            }
        }
        #email{
            width:350px;
            height: 15%;
        }
        #msg{
            width: 350px;
        }
    }
}


footer{
    width: 100%;
    height: auto;
    .foot-main{
        display: grid;
        // width: 160%;
        width: 600px;
        font-size: 20px;
    }

    .f-title{
        width: 10%;
    }
}



}    

@media screen and (max-width: 426px) {


    .contact{
        .addr{
            display: grid;
            grid-template-columns: 1fr;
            // gap: 10px;

            .email{
                padding-left: 0px;
                padding-top: 20px;
            }
        }
        form{
            .email{
                #email{
                    width: 270px;
                    
                }
            }
            #msg{
                width: 270px;
            }
        }
    }
    footer{
        .foot-main{
        .f-title{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            width: 80%;
        }
    }
    }
}
