* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#click {
  display: none;
}

header {
  background-color: #3B5D50;
  width: 100%;
  font-family: "Inter", sans-serif;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  top: 0px;
  left: 0px;
  height: 70px;
  align-items: center;
  color: #ffffff;
  padding-right: 5%;
  padding-left: 4%;
  background-color: #3B5D50;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
header nav ul li h1 {
  color: white;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
header label {
  color: white;
  font-size: 30px;
  display: none;
}
header .head {
  display: flex;
}
header .head .text {
  padding-top: 10%;
  padding-left: 10%;
}
header .head .text h1 {
  color: white;
  font-size: 50px;
}
header .head .text p {
  padding-top: 5%;
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: 17px;
  line-height: 28px;
}
header .head .text button {
  padding: 12px 25px;
  font-size: 100%;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.5019607843);
  background-color: #3B5D50;
  color: white;
  margin: 5% 1%;
}

header img {
  width: 100%;
}

/* -- contact information -- */
.contact {
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
}
.contact .addr {
  display: flex;
}
.contact .addr #icon {
  color: white;
  background-color: #3B5D50;
  border-radius: 20%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.contact .addr .map {
  display: flex;
  width: 40%;
}
.contact .addr .email {
  display: flex;
  width: 40%;
  padding-left: 5%;
}
.contact .addr .phone {
  display: flex;
  width: 50%;
}
.contact .addr p {
  display: flex;
  align-items: center;
  padding-left: 3%;
}
.contact .name {
  padding-top: 10%;
  display: flex;
  gap: 18%;
  line-height: 2;
}
.contact .name #fname {
  padding-left: 80%;
  padding-top: 10%;
  border-radius: 10px;
  border: 1px solid #6A6A6A;
}
.contact .name #lname {
  padding-left: 80%;
  padding-top: 10%;
  border-radius: 10px;
  border: 1px solid #6A6A6A;
}
.contact .email {
  line-height: 2;
}
.contact .email #email {
  padding-left: 52%;
  padding-top: 2%;
  border-radius: 10px;
  border: 1px solid #6A6A6A;
}
.contact .msg {
  padding-top: 3%;
  line-height: 2;
}
.contact .msg #msg {
  padding-left: 52%;
  padding-top: 15%;
  border-radius: 10px;
  border: 1px solid #6A6A6A;
}
.contact button {
  margin-top: 3%;
  background-color: #2f2f2f;
  color: #fff;
  border-radius: 20px;
  border: 1px;
  height: 45px;
  width: 150px;
  font-size: 15px;
}

/* -- footer -- */
footer {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #ffffff;
}
footer .sub-new h3 {
  font-size: 25px;
}
footer .sub-new input {
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #6A6A6A;
  margin: 5px;
  background-color: #ffffff;
}
footer .sub-new #icon {
  padding: 15px 30px;
  color: #ffffff;
  background-color: #3B5D50;
  border-radius: 10px;
  margin: 5px;
}
footer .foot-main {
  display: flex;
}
footer .foot-main .f-detail {
  padding-top: 10%;
  color: #3B5D50;
  width: 65%;
}
footer .foot-main .f-detail p {
  padding-top: 7%;
  line-height: 2;
}
footer .foot-main .f-detail .icons {
  padding-top: 5%;
  font-size: 15px;
}
footer .foot-main .f-detail .icons #face {
  background-color: #eff3ef;
  border-radius: 50%;
  width: 5%;
  height: 12px;
  padding: 4px;
}
footer .foot-main .f-detail .icons #twitter {
  background-color: #eff3ef;
  border-radius: 50%;
  padding: 3px;
}
footer .foot-main .f-detail .icons #insta {
  background-color: #eff3ef;
  border-radius: 50%;
  padding: 4px;
  width: 5%;
}
footer .foot-main .f-detail .icons #lin {
  background-color: #eff3ef;
  border-radius: 50%;
  padding: 4px;
  width: 6%;
}
footer .foot-main .f-title {
  display: flex;
  padding-top: 15%;
  padding-left: 10%;
  width: 100%;
  line-height: 2.2;
  color: #2F2F2F;
}
footer .foot-main .f-title .foot-container {
  width: 50%;
}
footer .foot-main .f-title .foot-container ul li {
  list-style: none;
}
footer .foot-end {
  display: flex;
}
footer .foot-end .c-right {
  width: 50%;
}
footer .foot-end .c-right p {
  color: #3B5D50;
}
footer .foot-end .c-right span {
  color: #2F2F2F;
}
footer .foot-end .condition {
  width: 80%;
}
footer .foot-end .condition ul {
  display: flex;
  justify-content: end;
  gap: 5%;
}
footer .foot-end .condition ul li {
  list-style: none;
}
footer .foot-end .condition ul li a {
  text-decoration: none;
  color: #2F2F2F;
}

@media screen and (max-width: 768px) {
  header label {
    display: block;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    flex-direction: column;
    position: absolute;
    top: 75px;
    left: 0px;
    display: none;
    width: 100%;
    background-color: #3B5D50;
    line-height: 2;
  }
  header .head {
    display: grid;
    grid-template-columns: 1fr;
  }
  #click:checked ~ header nav ul {
    display: block;
  }
  .contact .addr {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contact .addr .map {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
  }
  .contact .addr .email {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
  }
  .contact .addr .phone {
    width: 80%;
  }
  .contact form .name {
    display: grid;
    gap: 0px;
  }
  .contact form .name #fname {
    padding-top: 6%;
    padding-left: 40%;
  }
  .contact form .name #lname {
    padding-top: 6%;
    padding-left: 40%;
  }
  .contact form #email {
    width: 350px;
    height: 15%;
  }
  .contact form #msg {
    width: 350px;
  }
  footer {
    width: 100%;
    height: auto;
  }
  footer .foot-main {
    display: grid;
    width: 600px;
    font-size: 20px;
  }
  footer .f-title {
    width: 10%;
  }
}
@media screen and (max-width: 426px) {
  .contact .addr {
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact .addr .email {
    padding-left: 0px;
    padding-top: 20px;
  }
  .contact form .email #email {
    width: 270px;
  }
  .contact form #msg {
    width: 270px;
  }
  footer .foot-main .f-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 80%;
  }
}/*# sourceMappingURL=contact.css.map */